---
import PageLayout from "../layouts/PageLayout.astro";
import AlbumCover from "../components/AlbumCover.svelte";

import { Image, imageConfig } from "astro:assets";
import { Img } from "flowbite-svelte";
import { Gallery } from "flowbite-svelte";

import thriveCover from "../../src/images/Thrive.jpg";

const pageTitle = "Music";

const albums = [{ title: "Thrive", imageSrc: thriveCover.src, href: "https://google.com" }];
/*const images = [
    { alt: "Thrive", src: thriveCover.src },
    { alt: "Thrive", src: thriveCover.src },
    { alt: "Thrive", src: thriveCover.src },
    { alt: "Thrive", src: thriveCover.src },
];*/
---

<PageLayout title={pageTitle}>
    <!-- <div class="w-7/12 xl:w-2/5 lg:w-1/2 md:w-3/5 mx-auto">
        <Gallery items={images} class="gap-4 grid-cols-1 md:grid-cols-2" />
    </div> -->

    <div class="w-full">
        {
            albums.map((item) => (
                <div class="w-10/12 md:w-2/5 lg:w-2/5 mx-auto flex justify-center items-center flex-col max-w-lg">
                    <AlbumCover
                        albumTitle={item.title}
                        imageSrc={item.imageSrc}
                        href={item.href}
                    />
                </div>
            ))
        }
    </div>
</PageLayout>
