---
export interface Props {
  title: string;
  description?: string;
}

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.svelte";
import Footer from "../components/Footer.svelte";
import ParallaxBackground from "../components/ParallaxBackground.svelte";

import { Heading, Badge } from "flowbite-svelte";

const { title, description = "Old Sanc Boys" } = Astro.props;
const activeUrl = Astro.url.pathname;

import { getImage } from "astro:assets";

import osbNavLogoSrc from "../images/OSB-inv-trans.png";
const optimizedImageSrc = await getImage({
  src: osbNavLogoSrc,
  width: 420,
  height: 400,
  format: "webp",
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-1">
      <ParallaxBackground client:load />

      <NavBar
        client:idle
        activeUrl={activeUrl}
        pageTitle={title}
        imageUrl={optimizedImageSrc}
      />

      <div
        class="h-10 bg-transparent bg-gradient-to-b from-white to-transparent"
      >
      </div>
      {
        title != "" && (
          <Heading
            tag="h1"
            class="tracking-wider md:hidden flex items-center justify-center pb-16"
            size="text-4xl"
          >
            {title}
          </Heading>
        )
      }
      {title == "" && <div class="py-5" />}

      <div class="h-14 md:h-24 lg:h-28 md:block hidden"></div>

      <article>
        <slot />
        <!-- your content is injected here -->
      </article>

      <div
        class="h-10 bg-transparent bg-gradient-to-b from-transparent to-white"
      ></div>

      <Footer />
    </main>
  </body><style>
    h1 {
      font-size: 4rem;
    }
  </style>
</html>
